body {
    background-color: #282b30;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;   
    background-image: linear-gradient(to left, rgb(236, 90, 0),#553c9a );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;  
    margin-bottom: auto;
}

p {
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'Assistant', sans-serif;
    color: lightgrey;
}

img {
    margin-top: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
/*iphone 13*/

const data = [
    { "genre": "Rock", "value": 300 , "image": "genre-images/download.png"},
    { "genre": "Funk / Soul", "value": 50 },
    { "genre": "Electronic", "value": 50 },
    { "genre": "Hip Hop", "value": 40 },
    { "genre": "Jazz", "value": 20 },
    { "genre": "Folk", "value": 10 },
    { "genre": "Blues", "value": 10 },
    { "genre": "Reggae", "value": 5 },
    { "genre": "Pop", "value": 1 },
    { "genre": "Classical", "value": 1 },
    { "genre": "Latin", "value": 1 },
  ];