body {
    display: grid;
    justify-items: center;
    margin: auto;
    padding: 20px;
}


div {
    padding: 30px;
    position: relative;
}


div > #map {
    text-align: center;
    margin: 0 auto;
    width: 450px;
    height: 700px;
    padding: 0px;
    position: absolute;
    top: 50%;
    bottom: 0;
    transform: translate(0, -55%);
    -webkit-transform: translate(0, -55%);
    -moz-transform: translate(0, -55%);
    -ms-transform: translate(0, -55%);
    -o-transform: translate(0, -55%);
}
